body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust this later, when logo is finished */
    background-color: #ffffff;
    color: #000000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.header__nav--logo {
    margin-right: 20px; /* Adjust this later, when logo is finished */
}

.header__nav--menu {
    margin: 0 10px;
    color: ;
    text-decoration: none;
}

.miniBio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.miniBio__content {

}

.miniBio__highlight-title {
    color: rgb(110, 6, 242);
}

.highlight-text {
    color: #31304D;
}

.miniBio__github-link {
    color: rgb(110, 6, 242);
}

.miniBio__linkedin-link {
    color: #000000;
}

.miniBio__picture {
    width: 35%;
}

img {
    max-width: 61%;
    height: auto; /* Maintain original picture proportions*/
}