header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust this later, when logo is finished */
    background-color: #ffffff;
    color: #000000;
}

.logo-container {
    margin-right: 20px; /* Adjust this later, when logo is finished */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin: 0 10px;
    color: ;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

section {
    width: 35%;
}

img {
    max-width: 61%;
    height: auto; /* Maintain original picture proportions*/
}